
# financial_tweets/tweets.csv
EjemplosSpark01/
EjemplosSpark03/
checkpoint_S&PCorrelation/
default_client.py
default_server.py
dummy_tcp_server.py
fix_file.py
producer.py
server.py
server2.py
server3.py
small_producer.py
test.py
test_spark.py
text_files/
tweets.csv
tweets.txt
tweets/

